.main-menu{
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}
.main-menu__item {
  display: flex;
  align-content: center;
  align-items: center;
  height: 58px;
  width: 100%;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid transparent;
  background-color: #fff;
  padding: 0 20px 0 17px;
  cursor: pointer;
  transition: $border-animation, $shadow-animation;
  
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 17px;
    transition: $fill-animation;
    fill: $icon-fill;
  }
  &-title {
    color: #808080;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;

    transition: $text-animation;
  }
  &-arrow-icon {
    margin-left: auto;
    transition: $fill-animation;
    fill: $icon-fill;
    transform: rotate(-90deg);
    /* лютый костылью Анимарование поворота стрелочки */
    & svg{
      
      transition: .2s transform ease-in-out;
    }
  }

  &:first-child {
    border-top: 1px solid transparent;
    border-radius: 6px 6px 0px 0px;
  }
  &:last-child {
    border-bottom: 1px solid transparent;
    border-radius: 0 0 6px 6px;
  }

  /* стили при наведении и активном состоянии */
  &:hover {
    border-bottom: 2px solid $blue;

    .main-menu__item-icon {
      fill: $blue;
      transition: $fill-animation;
    }
    .main-menu__item-title {
      color: $blue;
      transition: $text-animation;
    }
    .main-menu__item-arrow-icon {
      fill: $blue;
      transition: $fill-animation;
    }
  }
  

  &_selected {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid $blue;
    .main-menu__item-icon {
      fill: $blue;
      transition: $fill-animation;
    }
    .main-menu__item-title {
      color: $blue;
      transition: $text-animation;
    }
    .main-menu__item-arrow-icon {
      fill: $blue;
      transition: $fill-animation;
    }
  }
}


/* раздвижная панель настроек в sidebar */
.menu-panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &__content{
    padding: 20px 15px;
  }
}


/* лютый костылью Анимарование поворота стрелочки */
.adapt {
  transform: rotate(180deg);
  transition: .2s transform ease-in-out;
}