.header {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.header__container {
  max-width: 1110px;
  margin: 0 auto; // выравниваю по центру

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  align-items: center;
  padding: 0 5px;
  padding-top: 30px;
  padding-bottom: 38px;
}

@media screen and (max-width: 1120px) {
  .header{
    /* background-color: red; */
  }
}

.header__logo {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  line-height: 1; //1.36 - множитель междустрочного интервала. В однострочных надо убирать
  text-transform: uppercase;
  letter-spacing: 1.76px; //1.36 - множитель мебуквенного интервала.
  margin: 0 25px;
  order: 0;
}

.header__search {
  height: 50px;
  border-radius: 4px;
  border: 2px solid #f5f5f5;
  display: flex;
  width: 50%;
  order: 1;
}

/* adaptive first line of the header */
@media screen and (max-width: 1000px) {
  .header__search {
    width: 45%;
  }
}
@media screen and (max-width: 910px) {
  .header__search {
    width: 40%;
  }
}
@media screen and (max-width: 880px) {
  .header__search {
    order: 3;
    width: 100%;
    margin: 15px 15px 0px 15px;
  }
  .header__container {
    padding: 0 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* adaptive of second line */
@media screen and (max-width: 510px) {
  .header__container {
    flex-direction: column;
    align-content: center;
  }
  .header__logo {
    margin: 15px 25px;
  }
}

.header__search-input-wrapper {
  display: flex;
  align-items: center;
  width: 80%; /* потом заадаптивить */
  border-right: 2px solid #f5f5f5;
}

.header__search-input {
  border: none;
  font-family: "Roboto", sans-serif;
  color: #535353;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  height: 46px;
  width: 100%;
  padding: 0 10px;
  &::placeholder {
    color: #b3b3b3;
  }
}

.header__search-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #f5f5f5;
  padding: 0 20px;
}

.header__search-button-wrapper {
  flex-grow: 1;
}

.header__search-button {
  background-color: transparent;
  border: none;
  width: 46px; //в пределах контейнера
  height: 100%;
  display: flex; //для картинки внутри
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__buttons {
}

.header__nav {
  border-top: 2px solid #f5f5f5;
}
