.copyrights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 25px;
  }
}