.product-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* очень хитрая магия
  здесь, и ниже, реализован хак, что бы в постоянно иметь в контейнере карточки, с выравниванием по краям без отступов (от стенок контейнера). Это можно было бы сделать margin при статической вёрстке, но это не сработает при адаптиве */
  margin-left: -24px;
  width: calc(100% + 24px );
  transition: opacity 1s;
}
.product-card {
  /* динамика карточек */
  flex-basis: 220px;
  flex-grow: 1; 
  flex-shrink: 2;
  padding: 20px;
  margin-bottom: 24px;
  margin-left: 24px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  transition: $shadow-animation;
  cursor: default;

  /* display: none;
  &:nth-child(1n+1) {
    transition: 3.5s all ease-in-out;
    display: block;
    color: red;
    
  } */

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    /* transition: $shadow-animation; */
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
  }
  &__sale {
    width: 65px;
    height: 20px;
    margin-right: auto;
    background-color: #f7f7f7;

    color: #b3b3b3;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: default;
  }
  /* иконки. Для всего проекта, целесообразно вынести их в общий набор стилей */
  &-icon {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    fill: $gray;
    cursor: pointer;
    transition: $icon-animation;
    /* при наведении на контейнер */
    &:hover {
      svg {
        fill: $blue;
        filter: drop-shadow(0px 0px 5px $blue);
        transition: $icon-animation;
      }
    }
    /* плавная анимация в момент убирания курсора */
    & svg {
      fill: $gray;
      filter: drop-shadow(0px 0px 0px#fff);
      transition: $icon-animation;
    }
  }
  &__comparison-list {
    margin-right: 15px;
  }
  &__product-image {
    height: 160px;
    text-align: center;
    margin-bottom: 35px;

    transition: 0.3s;
    &:hover {
      transform: scale(1.03);
    }
  }
  &__title {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  &__rating {
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
   /*  margin-bottom: 15px; */
  }
  &__price {
    color: #666666;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.16px;
    margin-right: 18px;
  }
  
}

.tabs-section__content-box_custom {
  display: flex;
  justify-content: center;
}

