.main {
  
}

.main__content {
 
}
.main-content {
  display: flex;
  margin-bottom: 30px;
  &__banner {
    height: 330px;
  }
}
.main-content__column-left {
  width: 255px;
  flex-shrink: 0;
}
.main-content__column-right {
  margin-left: 30px;
  width: 100%;
  
}
/* Секция навигации для главной страницы. На сотальных - это будет меню */
.main__navigation {
 
}

@media screen and (max-width: 600px) {
  .main-content {
   flex-direction: column;
  }

  .main-content__column-left {
    width: 100%;
    flex-shrink: 0;
  }
  .main-content__column-right {
    margin-top: 50px;
    margin-left: 0px;
    width: 100%;
    
  }
}