.main {
  
}

.main__content {
 /*  background-color: #aaa; */
  margin-bottom: 30px;
}
.main-content {
  display: flex;
}
.main-content__column-left {
  width: 255px;
  flex-shrink: 0;
}
.main-content__column-right {
  margin-left: 30px;
  width: 100%;
  
}