/* .main {
  background-color: #ddd;
}
 */
.main__content {
 /*  background-color: #aaa; */
  margin-bottom: 30px;
}
.main-content {
}
.main-content__column-left {
  width: 255px;
}
.main-content__column-right {
}