// ширина с учётом и отступов и падингов
* {
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto; // выравниваю по центру
}

.hidden {
  display: none; // для скрывания объектов через js
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1;
}
