// ширина с учётом и отступов и падингов
* {
  box-sizing: border-box;
  user-select: none; /* потом отменить, поскольку клиент захочет выделять название товара зачем либо */
}
body {
  background-color: #fafafa;
  margin: 0;
  font-family: "Roboto", sans-serif;
  
}

.container {
  max-width: 1110px;
  margin: 0 auto; // выравниваю по центру
  padding: 0 5px;
  
}

.hidden {
  display: none; // для скрывания объектов через js
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1;
}

a {
  color: #808080;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    /* color: $blue; */
  }
}

/* класс для добавления анимации элементам управления */
.link-animation {
  /* анимация самой ссылки. Того, что в ней находится */
  transition: $text-color-animation;
  /* анимация внутреннего текста */
  &:hover{
    color: $blue;
    transition: $text-color-animation;
  }
  /* подчёркивания */
  &:before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: $blue;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    left: 50%;
    bottom: 0;
  }
  &:after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: $blue;
    transition: width 0.2s ease-in-out;
    left: 50%;
    bottom: 0;
  }
 
  /* подчёркивания при наведении */
  &:hover:before {
    width: 50%;
    left: 0;
  }
  &:hover:after {
    width: 50%;
  }
  /* анимация для внутренних иконок */
  & svg {
    transition: $icon-fill-animation;
  }
  /* анимация для внутреннего текста, если он задан отдельным спаном */
  & span{
    transition: $text-color-animation;
  }
  /* анимация для внутренних иконок при наведении */
  &:hover {
    svg {
      fill: $blue;
    }
  }
  /* анимация для внутреннего текста, если он задан отдельным спаном, при наведении*/
  &:hover span{
    color: $blue;
  }
}