$blue: #1875f0;
$gray: #f0f0f0;
$icon-fill: #b5b5b5;
$fill-animation: 0.2s fill ease-in;
$text-animation: 0.2s ease-in;
$icon-animation: 0.2s all ease-in;
$border-animation: 0.2s border ease-in;
$shadow-animation: 0.2s all ease-in;
