.footer {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  &__top {
    padding: 35px 0;
    border-bottom: 2px solid #f5f5f5;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 950px;
    padding: 10px;
  }
  &__navigation {
    width: 300px;
    margin: 10px 20px;
  }
  &__bottom {
    padding: 35px 0;
  }
  &__copyrights {
    margin: 10px 15px;
  }
  &__payment {
    margin: 10px 15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  &__item {
    display: inline-block;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
    &:not(:last-child) {
      margin-right: 25px;
    }
    
  }
}

@media screen and (max-width: 680px) {
  .footer {
    &__top {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &__wrapper {
      flex-direction: column;
      align-content: center;
      align-items: center;
    }

    &__bottom {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &__copyrights {
    }
    &__payment {
      display: flex;
      flex-wrap: wrap;
    }
  }
}


